body {
    /*text-align: center;*/
    /*background: red;
    height: 50%;
    background: radial-gradient(white, red, white);*/
    background-image: red;
    background-repeat: no-repeat;
    height: 200vh;
}

#sidebarContainer {
    /*text-align: center;*/
    /*background: red;
    height: 50%;
    background: radial-gradient(white, red, white);*/
    background-image: linear-gradient(red, white);
    background-repeat: no-repeat;
    height: 200vh;
}

.App-logo {
    animation: App-logo-spin infinite 7s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App .Posts {
    padding: 4em 2em;
    display: block; 
    border: 1em solid red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30em;
    background-color: #FFAAAA;
}

.App .Posts article {
    margin: 2em;
    padding: 1em;
    background: white;
    border-radius: 1em;
}

.App .Posts article q {
    display: block;
    padding: 1em;
}

#main_note {
    height: 5em;
    width: 40em;
}

.loading .posts {
    test-align: center;
    color: white;
}

.button {
    padding: 1em;
    background-color: red;
    border: 3px solid red;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;
}

.up_vote, .dn_vote {
    height: 3em;
    padding: 0;
    width: 4em;
}

.fieldname {
    display: inline;
}

p.note_tag {
    display: inline;
    padding-right: 1em;
}

p.note_tag a {
    text-decoration: none;
    color: red;
}

p.note_tag a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

.vote_count {
    padding: 0 1em;
}

.note_vote_controls_area button, .note_vote_controls_area p {
    display: inline;
}

@keyframes App-logo-spin {
  from { transform: rotate(-20deg); }
  to { transform: rotate(20deg); }
}
