body{
	background: linear-gradient(red, white)
}

#txtTitle{
  position: relative;
  left: 500px;
  font-size: 50px;
  font-family:Verdana;
}

#txtEmail{
  position: relative;
  left: 0px;
  font-size: 30px;
  font-family:Verdana;
}

#inputEmail{
  position: relative;
  left: 0px;
  font-size: 30px;
  font-family:Verdana;
}

#txtPassword{
  position: relative;
  left: 0px;
  font-size: 30px;
  font-family:Verdana;
}

#inputPassword{
  position: relative;
  left: 0px;
  font-size: 30px;
  font-family:Verdana;
}

#btnLogin{
  position: relative;
  left: 450px;
  font-size: 30px;
  font-family:Verdana;
}

#btnRegister{
  position: relative;
  left: 550px;
  font-size: 30px;
  font-family:Verdana;
}
