#txtTitle{
  position: relative;
  font-size: 50px;
  font-family:Verdana;
}

#txtEmail{
  position: relative;
  font-size: 30px;
  font-family:Verdana;
  float: left;
  left: 300px;
}

#inputEmail{
  position: relative;
  font-size: 30px;
  font-family:Verdana;
  float: left;
  left: 300px;
}

#txtPassword{
  position: relative;
  font-size: 30px;
  font-family:Verdana;
  float: left;
  left: 300px;
}

#inputPassword{
  position: relative;
  font-size: 30px;
  font-family:Verdana;
  float: left;
  left: 300px;
}

#txtConfirmPassword{
  position: relative;
  font-size: 30px;
  font-family:Verdana;
  float: left;
  left: 300px;
}

#inputConfirmPassword{
  position: relative;
  font-size: 30px;
  font-family:Verdana;
  float: left;
  left: 300px;
}


#btnCreateAccount{
  position: relative;
  font-size: 30px;
  font-family:Verdana;
  float: left;
  left: 500px;
}
