#txtTitle{
  position: relative;
  font-size: 50px;
  font-family:Verdana;
  float: left;
  
}

#txtSearch{
  position: relative;
  left: 500px;
  font-size: 30px;
  font-family:Verdana;
}

#inputSearch{
  position: relative;
  left: 510px;
  font-family:Verdana;
}

#txtType{
  position: relative;
  left: 500px;
  font-size: 30px;
  font-family:Verdana;
}

#radioButtonType{
  position: relative;
  left: 500px;
  font-family:Verdana;
}

#btnSubmit{
  position: relative;
    -moz-box-shadow:inset -1px 1px 7px 1px #f29c93;
  	-webkit-box-shadow:inset -1px 1px 7px 1px #f29c93;
  	box-shadow:inset -1px 1px 7px 1px #f29c93;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
  	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
  	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
  	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
  	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
  	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
  	background-color:#fe1a00;
  	-moz-border-radius:5px;
  	-webkit-border-radius:5px;
  	border-radius:5px;
  	border:1px solid #d83526;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Verdana;
  	font-size:18px;
  	font-weight:bold;
  	text-decoration:none;
  	text-shadow:0px 2px 0px #b23e35;
    text-align: center;
    height:50px;
    width:100px;
left:500px;
}


#sidebarStuff{
  background-color: #F0F0F0;
}

.sidebarButtons,#sidebarOpen{
  -moz-box-shadow:inset -1px 1px 7px 1px #f29c93;
	-webkit-box-shadow:inset -1px 1px 7px 1px #f29c93;
	box-shadow:inset -1px 1px 7px 1px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 2px 0px #b23e35;
  text-align: center;
  height:100px;
  width:200px;
}
#sidebarOpen{
  height:50px;
  width: 100px;
}
.sidebarButtons:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}
.sidebarButtons:active {
	position:relative;
	top:1px;
}
